AddCharset UTF-8 .html
RewriteEngine on
RewriteCond   %{HTTP_HOST}                 ^www\.(violasiegemund)\.com$
RewriteRule   ^(.+)$                        http://www.davidvoelkel.de/%1/$1	[R=302, L] 
